{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load tz %}
{% localtime on %}
<body class="body">
<div class="main" style="margin: 20px">
    <a href="{% url 'players:upload_players' %}">Upload DK Players</a><br>
    <a href="{% url 'players:stats' %}">Upload Player Stats</a><br>
    <a href="{% url 'players:stack_builder' %}">Build Stacks</a><br>
    <a href="{% url 'players:starters_order' %}">Get Starters and Batting Order</a>
    <a href="{% url 'slate:update_pro_orders' %}">Update Projected Orders</a>
</div>
</body>
{% endlocaltime %}
{% endblock %}