<form action="{% url 'slate:stack_add' %}" method="POST">{% csrf_token %}
    {% if current_team %}
    <input type="hidden" name="team" value="{{ current_team }}"><br>
    {% endif %}
    <table id="indy-pitcher" class="display compact order-column stripe row-border">
        <thead>
            <tr>
                <th>Name</th>
                <th>VS</th>
                <th>ERA</th>
                <th>AVE</th>
                <th>WHIP</th>
                <th>BB/9</th>
                <th>KK/9</th>
                <th>HR/9</th>
                <th>K%</th>
            </tr>
        </thead>
        <tbody>
        {% if pr %}
            <tr>
                <td>{{ pr.dk_name }}</td>
                <td>R</td>
                <td>{{ pr.era }}</td>
                <td>{{ pr.ave }}</td>
                <td>{{ pr.whip }}</td>
                <td>{{ pr.bb_p9 }}</td>
                <td>{{ pr.kk_p9 }}</td>
                <td>{{ pr.hr_p9 }}</td>
                <td>{{ pr.kp }}</td>
            </tr>
        {% endif %}
        {% if pl %}
            <tr>
                <td>{{ pl.dk_name }}</td>
                <td>L</td>
                <td>{{ pl.era }}</td>
                <td>{{ pl.ave }}</td>
                <td>{{ pl.whip }}</td>
                <td>{{ pl.bb_p9 }}</td>
                <td>{{ pl.kk_p9 }}</td>
                <td>{{ pl.hr_p9 }}</td>
                <td>{{ pl.kp }}</td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>VS</th>
                <th>ERA</th>
                <th>AVE</th>
                <th>WHIP</th>
                <th>BB/9</th>
                <th>KK/9</th>
                <th>HR/9</th>
                <th>K%</th>
            </tr>
        </tfoot>
    </table>
    <table id="pstats" class="display compact order-column stripe row-border">
        <thead>
            <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>POS</th>
                <th>Pos2</th>
                <th>Order</th>
                <th>AVG</th>
                <th>SLG</th>
                <th>OPS</th>
                <th>ISO</th>
                <th>wOBA</th>
                <th>HARD%</th>
                <th>wOBAd</th>
                <th>ISOd</th>
                <th>K%</th>
                <th>PAs</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
        {% if players %}
        {% for p in players %}
            <tr>
                <td>{{ p.dk_name }} ({{ p.bats }}</td>
                <td>{{ p.salary }}</td>
                <td>{{ p.position }}</td>
                <td>{{ p.second_pos }}</td>
                <td>{{ p.order_pos }}</td>
                <td>{{ p.avg }}</td>
                <td>{{ p.slg }}</td>
                <td>{{ p.ops }}</td>
                <td>{{ p.iso }}</td>
                <td>{{ p.woba }}</td>
                <td>{{ p.hard_p }}</td>
                <td>{{ p.wobaDiff }}</td>
                <td>{{ p.isoDiff }}</td>
                <td>{{ p.kp }}</td>
                <td>{{ p.pa }}</td>
                <td><input style="padding; 3px" type="checkbox" name="{{ p.id }}" value="player"></td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>POS</th>
                <th>Pos2</th>
                <th>Order</th>
                <th>AVG</th>
                <th>SLG</th>
                <th>OPS</th>
                <th>ISO</th>
                <th>wOBA</th>
                <th>HARD%</th>
                <th>wOBAd</th>
                <th>ISOd</th>
                <th>K%</th>
                <th>PAs</th>
                <th>Add</th>
            </tr>
        </tfoot>
    </table>
    <button type="submit" class="btn btn-primary">Add Players</button>
    <input type="submit" class="btn btn-primary" value="Add Punts" formaction="{% url 'slate:add_punts' %}">
</form>