<div style="float: right">
    <form action="{% url 'slate:remove' %}" method="POST" id="stacks-remove">{% csrf_token %}
        {% if stacks %}
        {% for s in stacks %}
        <h1>{{ s.team }}</h1>
        {% for p in s.players.all %}
        <input type="checkbox" name="{{ p.pk }}" value="player">{{ p }}<br>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Remove Players</button>
    </form>
</div>
<div style="float: right">
    <form action="{% url 'slate:remove_punts' %}" method="POST" id="punts-remove">{% csrf_token %}
        {% if punts %}
        {% for p in punts %}
        <input type="checkbox" name="{{ p.pk }}" value="player">{{ p }}<br>
        {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Remove punt</button>
    </form>
</div>
<script type="text/javascript" charset="utf8">
    $(document).ready(function () {
        $('#punts-remove').submit(function (e) {
            e.preventDefault();
            var url = "{% url 'slate:remove_punts' %}";
            var method = 'POST';
            var data = $(this).serializeArray();
            console.log(data);
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function (responseData) {
                    $("#stacks-modal").html(responseData.html);
                    $('#stack-modal-banner').modal('show');
                }, error: function (error) {
                    console.log(error);
                }
            })
        });

        $('#stacks-remove').submit(function (e) {
            e.preventDefault();
            var url = "{% url 'slate:remove' %}";
            var method = 'POST';
            var data = $(this).serializeArray();
            console.log(data);
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function (responseData) {
                    $("#stacks-modal").html(responseData.html);
                    $('#stack-modal-banner').modal('show');
                }, error: function (error) {
                    console.log(error);
                }
            })
        });

    });
</script>