{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load tz %}
{% localtime on %}
<body class="body">
<div class="main">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Upload a file</label>
        <input type="file" name="file">
        <button type="submit" class="btn btn-secondary">Upload Players</button>
    </form>
    <a href="{% url 'players:starters_order' %}">STARTERS and Batting Order</a>
</div>
</body>
{% endlocaltime %}
{% endblock %}