{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load tz %}
{% localtime on %}
<body class="body">
<div class="main" style="margin: 20px; float: left; font-size: 2em">
    <form action="{% url 'slate:lineups' %}" method="POST">{% csrf_token %}
        <select name="p1">
            {% if pitchers %}
            {% for p in pitchers %}
            <option value="{{ p.id }}">{{ p }} ${{ p.salary }}</option>
            {% endfor %}
            {% endif %}
        </select>
        <select name="p2">
            {% if pitchers %}
            {% for p in pitchers %}
            <option value="{{ p.id }}">{{ p }} ${{ p.salary }}</option>
            {% endfor %}
            {% endif %}
        </select>
        <button type="submit" class="btn btn-secondary">Fetch Lineups</button>
    </form>
    {% if lines %}
    <form action="{% url 'slate:add_lineups' %}" method="POST">{% csrf_token %}
    {% if p1 and p2 %}
        <input type="hidden" name="p1" value="{{ p1.pk }}">
        <input type="hidden" name="p2" value="{{ p2.pk }}">
        <h1>{{ p1 }}</h1>
        <h1>{{ p2 }}</h1>
    {% endif %}
        <input type="number", name="unique" value="2"/>
    {% for l in lines %}
        <div style="padding; 3px">
            <label for="{{ l.TMCODE }}">{{ l.TMCODE }} => {{ l.lus }}</label>
            <input type="number" id="{{ l.TMCODE }}" name="{{ l.TMCODE }}" value="0">
        </div>
    {% endfor %}
        <button type="submit" class="btn btn-primary">Add LUS</button>
    </form>
    {% endif %}
    {% if pplays %}
    <form action="{% url 'slate:add_lineups' %}" method="POST">{% csrf_token %}
    {% if p1 and p2 %}
        <input type="hidden" name="p1" value="{{ p1.pk }}">
        <input type="hidden" name="p2" value="{{ p2.pk }}">
        <h1>{{ p1 }}</h1>
        <h1>{{ p2 }}</h1>
    {% endif %}
        <input type="number", name="unique" value="2"/>
    {% for l in pplays %}
        <div style="padding; 3px">
            <label for="{{ l.TMCODE }}-punt">{{ l.TMCODE }} => {{ l.lus }}</label>
            <input type="number" id="{{ l.TMCODE }}-punt" name="{{ l.TMCODE }}" value="0">
        </div>
    {% endfor %}
        <input type="checkbox" name="punt" value="punt" hidden checked>
        <button type="submit" class="btn btn-primary">Add LUS</button>
    </form>
    {% endif %}
</div>
{% include 'slate/my_lineups.html' %}
<div class="modal fade bd-example-modal-lg" id="bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="pstats-modal">
    </div>
  </div>
</div>
</body>
<script type="text/javascript" charset="utf8">
    $(document).ready(function() {

        $('.team-bd').click(function() {
            var team = $(this).attr('data-team')
            var url = '{% url 'slate:team_breakdown' %}';
            var method = 'POST'
            var data = {"team": team}
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function(responseData){
                    $( "#pstats-modal" ).html(responseData.html);
                    $('#bannerformmodal').modal('show');
                }, error: function(error){
                    console.log(error);
                }
            })
        });

    } );
</script>
{% endlocaltime %}
{% endblock %}