<div class="main" style="float: right; font-size: 2em">
    {% if total_lus %}
    <h3>Total: {{ total_lus }}</h3>
    {% endif %}
    {% if p_cnt %}
    {% for p in p_cnt %}
    <h3>{{ p.p }} {{ p.cnt }}</h3>
    {% endfor %}
    {% endif %}
    <form action="{% url 'slate:delete_all' %}" method="POST">{% csrf_token %}
        {% if saved_lus %}
        {% for l in saved_lus %}
        <input type="checkbox" name="{{ l.tm }}" value="line"> {{ l.tm }} => {{ l.cnt }}<br>
        {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Remove Lineups</button>
    </form>
</div>
<div class="main" style="float: right;padding: 50px; font-size: 2em">
    {% if h_cnt %}
    {% for h in h_cnt %}
    <p>{{ h.p }} => {{ h.cnt }}</p>
    {% endfor %}
    {% endif %}
</div>