{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load tz %}
{% localtime on %}
<body class="body">
<div class="main">
    <div class="container-fluid" style="margin-top: 20px; font-size: 1.5em">
        <div class="row">
            <div class="col-sm-7">
                {% if teams %}
                <form action="{% url 'slate:lineup_builder' %}" method="POST" id="lineup-builder">{% csrf_token %}
                    <button type="submit" class="btn btn-primary w-100">Create LUs</button>
                    <button type="submit" class="btn btn-primary w-100" id="save-max-owner">Save Max Ownership</button>
                    <input type="checkbox" name="save" value="save" id="save-check" hidden>
                    <div class="row">
                        <div class="col">
                            <div style="padding; 3px">
                                <label for="total_lus">Total Lineups</label>
                                <input type="number" id="total_lus" name="total_lus" value="0" width="5">
                            </div>
                            {% include 'slate/snippets/pcombos.html' %}
                        </div>
                        <div class="col">
                            {% for t in teams %}
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="lbl{{ t.pk }}">{{ t }}</span>
                                </div>
                                <input type="number" step=".01" class="form-control" id="team_{{ t }}"
                                       name="team_{{ t }}" value="{{ t.max_stack }}" aria-label="Small"
                                       aria-describedby="lbl{{ t.pk }}">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col">
                            {% for b in batters %}
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="lbl{{ b.pk }}" style="font-size: 1em">{{ b }} {{ b.salary }}<br>CALC: {{ b.proj_pown }} PROJ: {{b.pown}}</span>
                                </div>
                                <input type="number" step=".01" class="form-control" id="bat_{{ b.pk }}"
                                       name="bat_{{ b.pk }}" value="{{ b.max_pown }}" aria-label="Small"
                                       aria-describedby="lbl{{ b.pk }}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </form>
                {% endif %}
            </div>
            <div class="col-sm-5">
                {% include 'slate/my_lineups.html' %}
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="bannerformmodal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:1500px">
            <div class="modal-content" id="pstats-modal" style="width:1250px">
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" charset="utf8">
    $(document).ready(function() {

        $('#save-max-owner').click(function(event) {
            event.preventDefault();
            $("#save-check").prop("checked", true);
            $('#lineup-builder').submit();
        });

        $('.team-bd').click(function() {
            var team = $(this).attr('data-team')
            var url = '{% url 'slate:team_breakdown' %}';
            var method = 'POST'
            var data = {"team": team}
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function(responseData){
                    $( "#pstats-modal" ).html(responseData.html);
                    $('#bannerformmodal').modal('show');
                }, error: function(error){
                    console.log(error);
                }
            })
        });

        $('.team-stats').click(function () {
            var team = $(this).attr('data-team');
            var pitcher = $(this).attr('data-pitcher');
            var url = "{% url 'players:pstats' %}";
            var method = 'POST';
            var data = {"team": team, "pitcher": pitcher};
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function (responseData) {
                    $("#pstats-modal").html(responseData.html);
                    $('#pstats').dataTable({
                        paging: false
                    });
                    $('#indy-pitcher').dataTable({
                        paging: false
                    });
                    $('#bannerformmodal').modal('show');
                }, error: function (error) {
                    console.log(error);
                }
            })
        });
    });

</script>
{% endlocaltime %}
{% endblock %}