<div class="row" style="margin: 20px; font-size: 1.5em">
    <div class="col">
        <h1>Pitcher Combos</h1>
        {% if p_combo %}
        {% for p in p_combo %}
        <p>{{ p.p1 }} - {{ p.p2 }} {{ p.cnt }}</p>
        {% endfor %}
        {% endif %}
        <h1>Totals</h1>
        {% if pitchers %}
        {% for p in pitchers %}
        <p>{{ p.p }} - {{ p.cnt }}</p>
        {% endfor %}
        {% endif %}
        <h1>Lineup Types</h1>
        {% if lu_type %}
        {% for lut in lu_type %}
        <p>{{ lut.type }} - {{ lut.cnt }}</p>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col">
        <h1>Batters</h1>
        {% if batters %}
        {% for p in batters %}
        <p>{{ p.p }} - {{ p.cnt }}</p>
        {% endfor %}
        {% endif %}
    </div>

</div>