{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load tz %}
{% timezone "America/Chicago" %}
<body class="body">
    <div class="main">
        <div class="columns w-row">
            <div class="column w-col w-col-2">
                <div>
                  <div class="sportsbook-nav">Sports</div>
                    <a href="#" class="sport-nav w-button">NCAA FOOTBALL</a>
                    <a href="#" class="sport-nav w-button">NFL</a>
                    <a href="#" class="sport-nav w-button">NBA</a>
                    <a href="#" class="sport-nav w-button">NCAA BASKETBALL</a>
                    <a href="#" class="sport-nav w-button">NHL</a>
                </div>
            </div>
            <div class="column-2 w-col w-col-7">
                <div>
                  <div class="w-layout-grid bet-type-grid">
                    <h1 id="w-node-1d2105c53043-a60b1e96" class="bet-type-headers">Sport</h1>
                    <div id="w-node-8ae247067b13-a60b1e96" class="form-block-3 w-form">
                      <select id="bet-type-select" name="Bet-type" class="select-field w-select">
                          <option value="game">Full Game Lines</option>
                          <option value="first-half">First Half Lines</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="full-game-bets-wrapper">
                    {% include 'sportsbook/snippets/gameswf.html' with games=full_game_bets %}
                </div>
                <div id="first-half-bets-wrapper">
                    {% include 'sportsbook/snippets/gameswf.html' with games=first_half_bets %}
                </div>
            </div>
            <div class="column-3 w-col w-col-3 slip-sidebar" id="slip-bets">
                {% include 'sportsbook/betslipnew.html' %}
            </div>
        </div>
    </div>
</body>
{% endtimezone %}
{% endblock %}
