{% load staticfiles %}
{% if desktop %}
<div class="betslip-header w-hidden-small w-hidden-tiny">
    <h1 class="heading">Bet Slip</h1>
</div>
{% endif %}
<form class="submit-betslip" id="submit-betslip" method="POST" action="{% url 'betslip:submit_bet' %}">{% csrf_token %}
    <div class="div-block-4">
        <h4 class="head-betslip">Straight Bet</h4>
        {% for odd in slip.odds.all %}
        <div class="w-form">
            <div class="form w-clearfix">
                <div class="field-label" >{{ odd.get_display_name }}</div>
                <input type="number"
                       step="0.01"
                       class="straight-bet-win-input bet-input win-input"
                       readonly
                       maxlength="256"
                       name="win-{{ odd.pk }}"
                       placeholder="$ Win"
                       id="win-{{ odd.pk }}"
                       data-type="straight"
                       data-odds="{{ ood.get_multiplier }}"
                       data-id="{{ odd.pk }}"
                       required="">
                <input type="number"
                       class="straight-bet-risk-input risk-input bet-input"
                       id="risk-{{ odd.pk }}"
                       data-odds="{{ odd.get_multiplier }}"
                       maxlength="256"
                       name="risk-{{ odd.pk }}"
                       data-max-bet="{{ user.account.limit }}"
                       data-id="{{ odd.pk }}"
                       data-type="straight"
                       placeholder="$ Risk"
                       required="">
                <img src="{% static 'images/trash.svg' %}" width="13" alt="" class="reset-betslip" data-bet-id="{{ odd.pk }}">
            </div>
        </div>
        {% endfor %}
        <h4 class="head-betslip">Parlay</h4>
        <div class="w-form">
            <div id="email-form-2" class="form-2 w-clearfix">
                <input maxlength="256"
                       class="parlay-bet-win-input bet-input win-input"
                       readonly
                       type="number"
                       step="0.01"
                       name="parlay-win-input"
                       id="win-parlay"
                       data-type="parlay"
                       data-odds="{{ slip.divider }}"
                       placeholder="$ Win">
                <input class="parlay-bet-risk-input risk-input bet-input"
                       maxlength="256"
                       type="number"
                       step="0.01"
                       name="parlay-risk-input"
                       data-type="parlay"
                       data-odds="{{ slip.divider }}"
                       id="risk-parlay"
                       data-id="parlay"
                       placeholder="$ Risk"
                       data-max-bet="{{ user.account.limit }}">
                <input type="checkbox" id='parlay-checkbox' name="parlay-checkbox" value="parlay" class="reset-betslip">
            </div>
        </div>
        <div class="form-block-2 w-form w-clearfix">
            <label for="betlsip-total-risk" class="field-label-2">Total Risk Amount</label>
            <input type="number"
                   readonly
                   class="win-input w-input"
                   maxlength="256"
                   data-name="Name"
                   placeholder="$ Total Risk"
                   id="betlsip-total-risk"
                   name="betlsip-total-risk">
            <label for="betlsip-total-win" class="field-label-3">Total Win Amount</label>
            <input class="win-input w-input"
                   maxlength="256"
                   placeholder="$ Total Win"
                   readonly
                   id="betlsip-total-win"
                   type="number"
                   name="betlsip-total-win">
            <img src="{% static 'images/trash.svg' %}" width="13" alt="" class="reset-betslip">
            <div class="text-block-3">Empty Betslip</div>
            <input id="betslip-submit" value="Submit" class="button-5 w-button"/>
        </div>
    </div>
</form>
{% for odd in slip.odds.all %}
<form class="form-betslip-ajax" method="POST" action="{% url 'betslip:update' %}" id="form-{{ odd.pk }}">{% csrf_token %}
    <input type="hidden" name="bet_id" value="{{ odd.pk }}">
</form>
{% endfor %}
