{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load tz %}
{% timezone "America/Chicago" %}
<body class="body">
<div class="main">
    <div class="columns w-row">
        <div class="column w-col w-col-2">
            <div style="width: 100%">
              <div class="sportsbook-nav">Sports</div>
                {% for s in sports %}
                    <a href="/sportsbook/{{ s.lower_sport }}" class="sport-nav w-button">{{ s.sport }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="column-2 w-col w-col-7">
            <div>
              <div class="w-layout-grid bet-type-grid">
                <h1 id="w-node-1d2105c53043-a60b1e96" class="bet-type-headers">{{ sport_label }}</h1>
                <div id="w-node-8ae247067b13-a60b1e96" class="form-block-3 w-form">
                  <select id="bet-type-select" name="Bet-type" class="select-field w-select">
                      <option value="game">Full Game Lines</option>
                      <option value="first-half">First Half Lines</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="full-game-bets-wrapper">
                {% include 'sportsbook/snippets/gameswf.html' with games=full_game_bets %}
            </div>
            <div id="first-half-bets-wrapper" class="bets-hidden">
                {% include 'sportsbook/snippets/gameswf.html' with games=first_half_bets %}
            </div>
        </div>
        <div class="column-3 w-col w-col-3 slip-sidebar" id="slip-bets">
            <div class="scroll-padding">
                {% include 'sportsbook/sidebar.html' %}
            </div>
        </div>
    </div>
</div>
<div class="div-block-5">
    <div class="w-layout-grid grid-5">
        <div class="btn-group dropup" id="w-node-8ebcc6ffd373-a60b1e96">
            <button type="button" class="btn dropdown-toggle mobile-betslip-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sports
            </button>
            <div class="dropdown-menu">
            {% for s in sports %}
                <a href="/sportsbook/{{ s.lower_sport }}" class="w-dropdown-link">{{ s.sport }}</a>
            {% endfor %}
            </div>
        </div>
        <button id="mobile-betslip-btn" class="mobile-betslip-btn btn">Bet Slip</button>
    </div>
</div>

</body>
{% endtimezone %}
{% endblock %}
