{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class="container" style="padding-top: 80px;">
<div class="container">
    <div class="row">
        {{ total_balance.balance__sum }}
        {{ total_handle.collected__sum }}
        {{ total_risk }}
    </div>
    <div class="row">
        <div class="col-sm-4" style="border: solid">
            {% if events_h_sprd %}
            <p style="font-size: 1em">Spread Values</p>
            {%  for e in events_h_sprd %}
            <p><h10 style="font-size: .75em">{{ e.team }} {{ e.type }} {{ e.handicap }} => {{ e.val }}</h10></p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-8">
            <canvas class="bet-value-chart" id="h-sprd-val-chart" data-type="sprd" width="400" height="400"></canvas>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="border: solid">
            {% if line_values %}
            <p style="font-size: 1em">Money Line Values</p>
            {%  for e in line_values %}
            <p><h10 style="font-size: .75em">{{ e.team }} {{ e.type }} => {{ e.val }}</h10></p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-8">
            <canvas class="bet-value-chart" id="line-chart"  data-type="line" width="400" height="400"></canvas>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="border: solid">
            {% if total_values %}
            <p style="font-size: 1em">Total Values</p>
            {%  for e in total_values %}
            <p><h10 style="font-size: .75em">{{ e.game_name }} {{ e.type }} {{ e.ou }}{{ e.tot }}=> {{ e.val }}</h10></p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-8">
            <canvas class="bet-value-chart" id="ou-val-chart"  data-type="ou" width="400" height="400"></canvas>
        </div>
    </div>
</div>
<hr>
</div>
{% endblock %}

<script>

</script>
