{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
    <h1>{{ user.username }}</h1>
    <p>Account Balance: {{ account_detail.balance }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Address: {{ account_detail.city }}</p>
    <p>City: {{ account_detail.state }}</p>
    <p>City: {{ account_detail.zip_code }}</p>
</div>
<div class="container">
    <p><a class="btn btn-success" href="{% url 'account:change_password' %}">Change Password</a></p>
</div>


{% endblock %}