{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load tz %}
{% localtime on %}
<div class="container" style="margin-top: 75px;">
    <div class="placed-bets-nav">
        <div class="pb-buttons w-clearfix">
            <button class="button-8 w-button" id="active-bets-btn">Pre Game</button>
            <button class="button-8 w-button" id="live-bets-btn">Live</button>
            <button class="button-9 w-button" id="settled-bets-btn">Settled</button>
        </div>
    </div>
    <div id="active-bets">
        <div class="recent-bets-wrapper">
        <h1>Pre Game Bets</h1>
        {% if placed_bets %}
        {% for bets in placed_bets %}
            <div class="place-bet">
                <div class="time w-clearfix">
                    <div class="text-block-8">
                        <p>Placed: {{ bets.placed }}</p>
                        <p>Starts: {{ bets.start_time }}</p>
                    </div>
                    <div class="text-block-9">
                        <form method="POST" action="{% url 'betslip:cancel_bet' %}">{% csrf_token %}
                            <input type="hidden" name="placed_id" value="{{ bets.placed_id }}">
                            <button type="submit">Cancel/Refund</button>
                        </form>
                    </div>
                </div>
                {% for odd in bets.betvalue_set.all %}
                <div class="details">
                    <div class="text-block-12">{{ odd.get_display_name }}</div>
                </div>
                {% endfor %}
                <div class="risk-win w-clearfix">
                    <div class="text-block-10">Risk: ${{ bets.collected }}</div>
                    <div class="text-block-11"> Win: {{ bets.value }}</div>
                </div>
                <div class="w-clearfix">
                    <div class="text-block-13">Status:</div>
                    <div class="text-block-14">{{ bets.get_status_display }}</div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
    <div id="live-bets" class="bets-hidden">
        <div class="recent-bets-wrapper">
        <h1>Live Bets</h1>
        {% if live_bets %}
        {% for bets in live_bets %}
            <div class="place-bet">
                <div class="time w-clearfix">
                    <div class="text-block-8">Placed: {{ bets.placed }}</div>
                </div>
                {% for odd in bets.betvalue_set.all %}
                <div class="details">
                    <div class="text-block-12">
                        <p>{{ odd.get_display_name }}</p>
                        <p>{{ odd.event.home }}: {{ odd.odd_group.h_score }} {{ odd.event.away }}: {{ odd.odd_group.a_score }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="risk-win w-clearfix">
                    <div class="text-block-10">Risk: ${{ bets.collected }}</div>
                    <div class="text-block-11"> Win: {{ bets.value }}</div>
                </div>
                <div class="w-clearfix">
                    <div class="text-block-13">Status:</div>
                    <div class="text-block-14">{{ bets.get_status_display }}</div>
                </div>
            </div>

        {% endfor %}
        {% endif %}
        </div>
    </div>
    <div id="settled-bets" class="bets-hidden">
        <div class="recent-bets-wrapper">
        <h1>Settled Bets</h1>
        {% if settled_bets %}
        {% for bets in settled_bets %}

            <div class="place-bet">
                <div class="time w-clearfix">
                    <div class="text-block-8">Placed: {{ bets.placed }}</div>
                </div>
                {% for odd in bets.betvalue_set.all %}
                <div class="details">
                    <div class="text-block-12">
                        <p>{{ odd.get_display_name }}</p>
                        <p>{{ odd.event.home }}: {{ odd.odd_group.h_score }} {{ odd.event.away }}: {{ odd.odd_group.a_score }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="risk-win w-clearfix">
                    <div class="text-block-10">Risk: ${{ bets.collected }}</div>
                    <div class="text-block-11"> Win: {{ bets.value }}</div>
                </div>
                <div class="w-clearfix">
                    <div class="text-block-13">Status:</div>
                    <div class="text-block-14">{{ bets.get_status_display }}</div>
                </div>
            </div>

        {% endfor %}
        {% endif %}
        </div>
    </div>

</div>

{% endlocaltime %}
{% endblock %}