{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load tz %}
{% timezone "America/Chicago" %}
<div class="container" style="position: fixed; top: 75px;">
    <div class="placed-bets-nav">
        <div class="pb-buttons w-clearfix">
            <a href="#" class="button-8 w-button">Active</a>
            <a href="#" class="button-9 w-button">Settled</a>
        </div>
    </div>
    {% if placed_bets %}
    {% for bets in placed_bets %}
    <div class="recent-bets-wrapper">
        <div class="place-bet">
            <div class="time w-clearfix">
                <div class="text-block-8">Placed: {{ bets.placed }}</div>
            </div>
            {% for odd in bets.betvalue_set.all %}
            <div class="details">
                <div class="text-block-12">{{ odd.get_display_name }}</div>
            </div>
            {% endfor %}
            <div class="risk-win w-clearfix">
                <div class="text-block-10">Risk: ${{ bets.collected }}</div>
                <div class="text-block-11"> Win: {{ bets.value }}</div>
            </div>
            <div class="w-clearfix">
                <div class="text-block-13">Status:</div>
                <div class="text-block-14">{{ bets.get_status_display }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% endtimezone %}
{% endblock %}