{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-10 col-md-6 mx-auto">
            <h1>{{ user.username }}</h1>
            <img src="{{ account.profile_pic.url }}">
            <p>Email: {{ account.user.email }}</p>
            <p>Account Balance: {{ account.balance }}</p>
        </div>
    </div>
    {% if not has_card %}
    <div class="row">
        <div class='col-10 col-md-6 mx-auto'>
            <h1>Add Payment Method</h1>
            <div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{{ request.build_absolute_uri }}' data-btn-title='Add Payment Method'></div>
        </div>
    </div>
    {% else %}
    {% if not addresses %}
    <div class="row">
        <div class='col-10 col-md-6 mx-auto'>
            {% include 'account/snippets/address_form.html' with form=address_form address_type='Billing Address' %}
        </div>
    </div>
    {% else %}
    <div class="row h-100 align-self-center">
        <div class="col-10 col-md-6 mx-auto">

            <form action="{% url 'account:submit_deposit' %}" method="POST">{% csrf_token %}
                <h3>Saved Addresses</h3>
                <div class="row">
                {% for address in addresses %}
                    <label for='address-{{ address.id }}'>
                    <input id='address-{{ address.id }}' type='radio' name='shipping_address' value='{{ address.id }}' />
                    {{ address.get_short_address }}
                    </label><br/>
                {% endfor %}
                </div>
                <br>
                <div class="row">
                    <label class="mr-3" for="deposit_amount">Amount:</label>
                    <input id="deposit_amount" type="number" name="deposit_amount" placeholder="$0.00">
                </div>
                <br>
                <h3>Saved Cards</h3>
                <div class="row">
                    {% include 'account/snippets/cards.html' with cards=account.card_set.all %}
                </div>
                <br>
                <button class="btn btn-success" value="Submit Deposit">Submit Deposit</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}

</div>



{% endblock %}

