{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

<div style="padding:80px; width:40%; float:left">
    <form method="POST" action="{% url 'account:update_history' %}">{% csrf_token %}
        <label for="history-start-date">Start Date</label>
        <input type="date" name="history-start-date" id="history-start-date">
        <label for="history-end-date">End Date</label>
        <input type="date" name="history-end-date" id="history-end-date">
        <label for="history-sport">Sport</label>
        <select name="history-sport" id="history-sport">
            {% for sport in sports_sel %}
            <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}
        </select>
        <button type="submit">Reresh Data</button>
    </form>
    <p><h1>{{ won }} - {{ lose }} - {{ push }}</h1></p>
    <p><h1>Hit Rate = {{ hit_rate }}%</h1></p>
    <canvas id="win-percentage-chart"></canvas>
</div>
<div style="padding:80px; width:40%; float:left">
    <p><h2>Total Risk: {{ totals.collected }}</h2></p>
    <p><h2>Total Possible Winnings: {{ totals.win }}</h2></p>
    <p><h2>Total Won: {{ total_won }}</h2></p>
    <p><h2>ROI: {{ roi }}%</h2></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('win-percentage-chart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: ["WIn", "Lose", "Push"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: [
                    'rgb(0,150,0)',
                    'rgb(150, 0, 0)',
                    'rgb(0, 0, 150)',
                ],
                borderColor: 'rgb(255, 99, 132)',
                data: [{{ won }}, {{ lose }}, {{ push }}],
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>

{% endblock %}