<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"> <!-- need to remove -->
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href='{% static "images/icon.png" %}'>
    <link rel="apple-touch-icon" href="{% static 'images/icon.png' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% include 'base/css.html' %}

    <title>The Book</title>

</head>
<body class="body">

<!-- Nav bar -->
<nav class="navbar  fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">The Book BKG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'sportsbook:home' %}" style="font-size:2em">Home<span class="sr-only">(current)</span></a>
            </li>
            {% if sports %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="font-size:2em">
                    Sports Book
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for s in sports %}
                    <a href="/sportsbook/{{ s.lower_sport }}" class="w-dropdown-link">{{ s.sport }}</a>
                    <div class="dropdown-divider"></div>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
        <div class="dropdown dropleft">
            <button class="btn account-btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:1.5em">
                {{ user.username }} (${{ user.account.balance }})
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'account:account_home' %}">Account Home</a>
                <a class="dropdown-item" href="{% url 'account:active_bets' %}">Placed Bets</a>
                <a class="dropdown-item" href="{% url 'account:history' %}">Bet History</a>
                <a class="dropdown-item" href="{% url 'account:user_logout' %}">Logout</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>

{% block body_block %}



{% endblock %}
<!-- Footer -->

{% include 'base/js.html' %}

<script>

</script>


</body>
</html>