#bets {
    border:2px solid black;
    border-radius:5px;
}

#top-jumbo {
    background-color:#FFF8DC;
    background-size: cover;
}

#disp-4 {
    font-size:300%;
    font-weight:bold;
    color:black;
}

#lead {
    font-size:150%;
    font-weight:bold;
    color:#black;
}

#top-jumbo {
    margin-top:20px;
}

.jumbo-text {
    font-size:125%;
    color:#F8F8FF;
}

.emp-button {
    margin-left:3px !important;
}

.bets-hidden {
    display: none;
}
